@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{ 
    font-family: 'Lato', sans-serif;
    background: #060e20;
    color: #E6ECF3;
}

.introduction {  
    display: flex;
    justify-content: center;
    margin: 10vh;
    height: 20vh;
    
}

.navbar{
    display: flex;
    justify-content: flex-end;
    margin: 3vh;
    font-size: 3vh;
    gap: 2rem;
}

#github{
    height: 3rem;
    width: 3rem;
}

a{
    display: inline-block;
    text-decoration: none;
    color: #E6ECF3;
}

a:hover {
    color: #0EA5E9;
    transition: 0.25s;
}

#intro{
    margin: 8vh 3vh 3vh 0;
    font-size: 3vh;
}

h2 {
font-size: 2.5rem;
}

#projects-header{
    text-align: center;
}
img{ 
    width: 20rem;
    height: 20rem;
    border: solid, black;
    border-radius: 25px;
}

img:hover{
    opacity: 0.5;
    transition: 0.50s;
}

#projects{
    text-align: center;
    margin-top: 5vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem;
}

#contact{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
    gap: 2rem;
}

h3 {
    font-size: 2rem;
}

#button{
     font-size: 2vh;
     color: #E6ECF3;
     background-color: #0EA5E9;
     border: solid #0EA5E9;
     border-radius: 20px;
     width: 10vw;
     height: 5vh;
 }

 input{
     font-size: 3vh;
     border: solid;
     border-radius: 10px;
    }
    
    textarea{
        font-size: 3vh;
        border: solid;
        border-radius: 10px;     
 }

 .icons{
     margin-top: 5vh;
     margin-bottom: 5vh;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     gap: 1.5rem;
 }

 #icon{
     height: 60px;
     width: 60px;
 }

 